// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


//extend :

.title {
    color: $creme;
    background-color: $mauve;
    font-family: $lobster;
    height: 60px;
    width: 500px;
    align-self: center;
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 60px;
    margin-left: 20px;
    font-size: 2em;
}

.carre {
    height: 60px;
    width: 60px;
    border: 2px solid $mauve;
    margin-left: 60px;
}


body {
    background-color: $creme;

    .entete {
        margin-top: 60px;
        display: block;
        display: flex;
        justify-content: space-around;
        height: 300px;
        align-items: center;

        .sc {
            img {
                height: 300px;
                width: 100vw;
                object-fit: cover;
                opacity: 0.2;
                display: block;
                max-width: 100%;
            }
        }

        .titrelogo {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            h1 {
                font-family: $lobster;
                color: $mauve;
                font-size: 3rem;
                text-align: center;
            }

            figure {
                img {
                    display: block;
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    .h2s {
        display: flex;
        align-items: center;

        .square {
            @extend .carre;
        }

        h2 {
            @extend .title;
        }
    }

    .pres {
        margin-left: $marginleft;
        display: flex;
        justify-content: space-around;
        gap: 4vw;
        flex-direction: column;
        border-left: 2px $mauve solid;
        padding-left: 50px;

        p {
            font-family: $arapey;
            color: $violet;
            font-size: 1.5em;
        }

        ul {
            li {
                color: $violet;
                font-family: $arapey;
                font-size: 1.2em;
                list-style-type: disc;
                margin-left: 20px;
            }
        }
    }

    .work {
        .article_work {
            justify-content: center;
            max-width: 100%;
            display: grid;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
            column-gap: 20px;
            row-gap: 20px;
            
            a {

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 5px solid $mauve;
                }

                h3 {
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 1em;
                    font-family: $montserrat;
                    color: $mauve;
                }

                p {
                    font-family: $montserrat;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 0.8em;
                    color: $mauve;
                }
            }

            .savon {
                grid-column: 1 / 2;
                grid-row: 1 / 4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .troubleu {
                grid-column: 2 / 3;
                grid-row: 1 / 5;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                position:relative;
                overflow: hidden;
                &:hover{
                    img{
                        transform: scale(120%);
                        transition: 1s;
                        filter:blur(2px);
                    }
                   
                    h3{
                        top:20px;
                        transition: 0.6s;
                    }
                    p{
                        top:90px;
                        transition: 0.6s;
                    }
                    
                }
                &:not(:hover){
                    h3, p{
                        transition: 0.6s;
                    }
                    img{
                        transition: 1s;
                        
                    }
                }
                h3, p{
                    position:absolute;
                    z-index:10;
                    color:white;
                }
                h3{
                    top: -50px;
                    left: 20px;
                    font-size: 2em;
                }
                p{
                    top:-90px;
                    left:20px;
                    margin: 0;
                    padding:0;
                    display: block;
                    text-align: left;
                }

            }

            .tft {
                grid-column: 3 / 4;
                grid-row: 1 / 4;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            .rayon {
                grid-column: 1 / 2;
                grid-row: 4 / 7;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }

            .cosme2 {
                grid-column: 2 / 3;
                grid-row: 6 / 10;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }

            .svgjinn {
                grid-column: 3 / 4;
                grid-row: 4 / 7;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    object-position: bottom;
                }
            }

            .souris {
                grid-column: 1 / 2;
                grid-row: 7 / 10;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                img {
                    object-position: bottom;
                }
            }


            .cosme1 {
                grid-column: 3 / 4;
                grid-row: 7 / 10;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

            }
        }
    }
}