// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


//extend :

.title {
    color: $creme;
    background-color: $mauve;
    font-family: $lobster;
    height: 60px;
    width: 500px;
    align-self: center;
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 60px;
    margin-left: 20px;
    font-size: 2em;
}

.carre {
    height: 60px;
    width: 60px;
    border: 2px solid $mauve;
    margin-left: 60px;
}


body {
    background-color: $creme;

    .entete {
        margin-top: 60px;
        display: block;
        display: flex;
        justify-content: space-around;
        height: 300px;
        align-items: center;

        .sc {
            img {
                height: 300px;
                width: 100vw;
                object-fit: cover;
                opacity: 0.2;
                display: block;
                max-width: 100%;
            }
        }

        .titrelogo {
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;

            h1 {
                font-family: $lobster;
                color: $mauve;
                font-size: 3rem;
                text-align: center;
            }

            figure {
                img {
                    display: block;
                    height: 200px;
                    width: 200px;
                }
            }
        }
    }

    .h2s {
        display: flex;
        align-items: center;

        .square {
            @extend .carre;
        }

        h2 {
            @extend .title;
        }
    }

    .pres {
        margin-left: $marginleft;
        display: flex;
        justify-content: space-around;
        gap: 4vw;
        flex-direction: column;
        border-left: 2px $mauve solid;
        padding-left: 50px;
        p {
            font-family: $arapey;
            color: $violet;
            font-size: 1.5em;
        }
        ul{
            li{
                color: $violet;
                font-family: $arapey;
                font-size: 1.2em;
                list-style-type:disc;
                margin-left: 20px;
            }
        }
    }
    .work{
        .article_work{
            justify-content: center;
            max-width: 100%;
            display:grid;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 18,75% 18,75% 18,75% 18,75% 18,75% 18,75% 18,75% 18,75% ;
            gap:20px;
            a{
                img{
                    max-width: 100%;
                    object-fit:cover;
                }
            }
        }
    }
}