// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------


   ////////////////  EXTEND  ////////////// :

.title {
    color: $creme;
    background-color: $mauve;
    font-family: $lobster;
    height: 60px;
    width: 1000px;
    align-self: center;
    padding-left: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
    line-height: 60px;
    margin-left: 20px;
    font-size: 2em;
}

.carre {
    height: 60px;
    width: 60px;
    border: 2px solid $mauve;
    margin-left: 60px;
}

.hover_article {
    &:hover {
        img {
            transform: scale(120%);
            transition: 1s;

        }

        h3 {
            top: 20px;
            transition: 0.6s;
            text-decoration: overline;
        }

        p {
            top: 70px;
            transition: 0.6s;
        }

    }

    &:not(:hover) {

        h3,
        p {
            transition: 0.6s;
        }

        img {
            transition: 1s;

        }
    }

    .shadow_work {
        width: 100%;
        height: 100%;
        background-color: black;
        position: absolute;
        opacity: 0;
        z-index: 9;

        &:hover {
            opacity: 0.5;
            transition: 0.7s;
        }

        &:not(:hover) {
            transition: 0.7s;
        }
    }

    h3,
    p {
        position: absolute;
        z-index: 9;
        color: white;
    }

    h3 {
        top: -50px;
        left: 20px;
        font-size: 1.2em;
    }

    p {
        top: -90px;
        left: 20px;
        margin: 0;
        padding: 0;
        display: block;
        text-align: left;
    }
}

html {
    scroll-behavior: smooth;

    body {
        .bg {
            background-color: $creme;
            position: relative;
            margin-bottom: 400px;
        }

        ////////////////  ENTETE  ////////////// :

        .entete {
            margin-top: 60px;
            width:100vw;
            max-width: 100%;
            display: flex;
            justify-content: space-around;
            height: 300px;
            align-items: center;

            .sc {
                img {
                    height: 300px;
                    width: 100vw;
                    object-fit: cover;
                    opacity: 0.4;
                    display: block;
                    max-width: 100%;
                }
            }

            .titrelogo {
                position: absolute;
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;

                h1 {
                    font-family: $lobster;
                    color: $mauve;
                    font-size: 3rem;
                    text-align: center;
                }

                figure {
                    img {
                        display: block;
                        height: 200px;
                        width: 200px;
                    }
                }
            }
        }

        ////////////////  SERVICES PROPOSES ////////////// :

        .h2s {
            display: flex;
            align-items: center;

            .square {
                @extend .carre;
            }

            h2 {
                @extend .title;
            }
        }

        .pres {
            margin-left: $marginleft;
            display: flex;
            justify-content: space-around;
            gap: 4vw;
            flex-direction: column;
            border-left: 2px $mauve solid;
            padding-left: 50px;

            p {
                font-family: $arapey;
                color: $mauve;
                font-size: 1.5em;
            }

            ul {
                li {
                    color: $mauve;
                    font-family: $arapey;
                    font-size: 1.2em;
                    list-style-type: disc;
                    margin-left: 20px;
                }
            }
        }

        ////////////////  TRAVAUX  ////////////// :

        .work {
            .article_work {
                justify-content: center;
                max-width: 100%;
                display: grid;
                grid-template-columns: 25% 25% 25%;
                grid-template-rows: 10% 10% 10% 10% 10% 10% 10%;
                column-gap: 20px;
                row-gap: 20px;

                a, article {

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }

                    h3 {
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        font-size: 1em;
                        font-family: $montserrat;
                        color: $mauve;
                    }

                    p {
                        font-family: $montserrat;
                        text-align: center;
                        margin: 0;
                        padding: 0;
                        font-size: 0.8em;
                        color: $mauve;
                    }
                }

                .savon {
                    grid-column: 1 / 2;
                    grid-row: 1 / 4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;
                }

                .troubleu {
                    grid-column: 2 / 3;
                    grid-row: 1 / 5;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                }

                .tft {
                    grid-column: 3 / 4;
                    grid-row: 1 / 4;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;
                }

                .rayon {
                    grid-column: 1 / 2;
                    grid-row: 4 / 7;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                }

                .contact_work {
                    border: none;
                    border-radius: 20px;
                    background-color: $mauve;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h3,
                    p {
                        color: white;
                    }
                }

                .cosme2 {
                    grid-column: 2 / 3;
                    grid-row: 6 / 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                }

                .svgjinn {
                    grid-column: 3 / 4;
                    grid-row: 4 / 7;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                    img {
                        object-position: bottom;
                    }
                }

                .souris {
                    grid-column: 1 / 2;
                    grid-row: 7 / 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                    img {
                        object-position: bottom;
                    }
                }


                .cosme1 {
                    grid-column: 3 / 4;
                    grid-row: 7 / 10;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    position: relative;
                    overflow: hidden;
                    @extend .hover_article;

                }
            }
        }

        ////////////////  A PROPOS  ////////////// :

        .apropos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            margin-left: 60px;
            

            article {

                p {
                    text-align: left;
                    color: $mauve;
                    padding: 0 5% 0 5%;
                    font-family: $montserrat;
                    font-size: 0.8em;;
                }

                img {
                    display: block;
                    border: 1px solid $mauve;
                    width:100%;
                }
            }
        }

        ////////////////  PICTOS  ////////////// :

        .polyv {
            margin: 100px 0 100px 0;
            padding-bottom: 100px;
            .pictos {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                flex-basis: 0;
                gap: 50px;
                
                figure {
                    img {
                        width: 200px;
                        height: 200px;
                        display: block;
                    }
                }

                h4 {
                    text-align: center;
                    color: $mauve;
                    font-family: $montserrat;
                }
            }
        }
    }
}